*{
  padding: 0;
  margin:0;
  text-decoration: none;
  box-sizing: border-box;
  
}

body {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
nav{
  background-color: #2200ff;
  height: 60px;
  color: white;
  width: 100%;
}

.logo{
  font-size: 30px;
  padding:35px;
  margin-bottom: 30px;
  
}
nav ul{
  float: right;
  margin-right: 20px;
  
}
 nav ul li{
   display: inline-block;
   line-height: 40px;
   margin: 0 5px;
 }
 nav ul li a{
   color: white;
   font-size: 20px;
   padding: 7px,13px;
   border-radius: 3px;
 }
a.active,a:hover{
  
  background: #1b9bff;
  transition:.5s;
}
.checkbtn{

  font-size: 30px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}
#check{

display: none;
}
@media (max-width:952px){
  lable.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media(max-width:858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #882f56;
    top: 55px;
    left: -100%;
    text-align: center;
    transition: all.5s;

  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked~ul{
    left: 0;

  }

}
.h2{
  text-decoration:underline;
  width: 100%;
  color: rgb(25, 25, 159);
  text-align: center;
}
.JP{

  
  border: solid white 8px;
  background-color: white;
  width: 25%;
  padding: 10px;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 3px 0px blue;


}

.TCS{


  
  border: solid white 5px;
  background-color: white;
  width: 25%;
  margin-left: 80px;
  border-radius: 20px;
  padding: 10px;
  box-shadow:0px 2px 3px 0px blue;
  position: absolute;
  left: 32%;
  top: 160px;

}

.WIPRO{


  
  border: solid white 5px;
  background-color: white;
  width: 25%;
  margin-left: 120px;
  border-radius: 20px;
  padding: 10px;
  box-shadow:0px 2px 3px 0px blue;
  position: absolute;
  right: 15px;
  top: 160px;

}
.u1{
  text-decoration: underline;
}

.product{

  position:absolute;
  left: 25%;
}

.service{

  position:absolute;
  right: 25%;
}

.color{
  background-color:blue;
  height: 300px;
  color: white;
}